body {
    background-color: #F6F6F6;
    font-family: arial;
    height: 100%;
    font-size: 13px;
}

.top-header {
    height: 20px;
    background-color: #000000;
}

.w100 {
    width: 100% !important;
}

.tc {
    text-align: center !important;
}

.txr {
    text-align: right !important;
}

.fcw {
    color: #FFF !important;
}

.ty-button {
    display: inline-block;
    background-color: #FFF;
    margin-bottom: 0px;
    height: 20px;
    padding: 10PX;
    color: black;
    line-height: 2px;
}

.mt10 {
    margin-top: 10px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.p0 {
    padding: 0 !important;
}

.p15 {
    padding-left: 15px;
}

.product-black-bottom-border {
    background-color: #000;
}

.product-black-bottom-border span.productDescription {
    color: #FFF;
    margin-left: 10px;
}

.top-border {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 20px;
    width: 100%;
}

.products-container {
    background-color: #FFF;
    border: 1px solid #eee;
}

.menu {
    background-color: #000;
    color: #FFF;
}

.menu-container {
    padding: 7px;
}

.logo-leader {
    margin-top: 10px;
}

.menu-right-container {
    margin-top: 10px;
    padding: 10px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

.col-md-12.p0.mt10 {
    border: 1px solid #eee;
    margin-bottom: 20px;
    transition-property: all;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.col-md-12.p0.mt10:hover {

    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    border: 1px solid orange;
}

span.productLink {
    float: right;
    color: #FFF;
    padding-right: 10px;
    padding-left: 10px;
    transition-property: all;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.footer {
    background-color: #FFF;
    /*margin-top: 20px;*/
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ftr-group {
    border-right: 1px solid #eee;
}

.col-md-12.p0.mt10:hover .projectFooter {
    background-color: #f68428;
    transition-property: all;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
}

.col-md-12.p0.mt10:hover .createDate-span-effect:after {
    content: '';
}

.logo-mt {
    margin-top: 17px;
}

.github-logo {
    max-height: 40px;
    margin-top: 19px;
    float: right;
}

span.welcome-messange {
    float: right;
    margin-top: 32px;
}

ul.section-menu {

}

span.productDescription {
    font-size: 11px;
}

span.productTitle {
    font-size: 15px;
}

.projectFooter {
    height: 25px;
    font-size: 12px;
    background-color: #000;
    margin-right: 0 !important;
    margin-left: 0 !important;
    line-height: 25px;
    color: #FFF;
}

.project-padding {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.project-info {
    margin-top: 10px;
}

.project-info span {
    display: block;
    font-size: 11px;
}

.project-info-span span {
    display: inline-block !important;
    color: rgb(231, 125, 40);
}

span.menu-section-title {
    font-size: 12px;
    font-weight: bold;
}

.featured-projects li {
    margin-top: 10px;
    font-size: 11px;
    font-weight: bold;
}

input[type=checkbox], input[type=radio] {

    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle !important;
}

li.section-menu-item {
    margin-top: 5px;
}

.filter-textbox {
    margin-top: 5px;

}

/*SPINNER START*/

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #D35400;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

/*SPINNER END*/

.searchBox {
    position: absolute;
    left: 350px;
    top: -80px;
    display: block;
    width: 350px;
    height: 35px;
}

.alert-warning {
    color: #ffffff;
    background-color: #D35400;
    border-color: #faebcc;
}