<div class="projects row">
    <div class="col-md-1"></div>
    <div class="col-md-10 p0 products-container">
        <div class="col-md-8 p15">
            <div class="product-container">

                <div class="searchBox">
                    <filter-textbox [text]="filterText" class="navbar-right"
                                    (changed)="filterChanged($event)"></filter-textbox>
                </div>
                <!--PROJECTS LIST START-->
                <div class="col-md-12 p0 mt10 " *ng-for="#project of filteredProjects">
                    <div class="row project-padding">
                        <div class="col-md-3">
                            <img style="max-width: 100%" src="{{project.owner.avatar_url || defaultProjectImage}}"/>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <a href="{{project.html_url}}">
                                    <i class="fa fa-code-fork" *ng-if="project.fork === true"></i>
                                    <span class="productTitle">{{project.full_name}}</span>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <span class="productDescription">{{project.description}}</span>
                            </div>
                            <div class="col-md-12">

                            </div>
                            <div class="col-md-12 project-info">
                                <span class="project-info-span ProgramingLanguage"><span>Programming Language :</span>  {{project.language}}</span>
                                <span class="project-info-span  Last"><span>Last Push :</span> {{project.pushed_at}}</span>
                                <span class="project-info-span  Last"><span>Last Edit :</span> {{project.updated_at}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="row projectFooter">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <span> <i class="fa fa-code-fork"></i> &nbsp; {{project.forks_count}}</span>
                                <span><i class="fa fa-star"></i> &nbsp; {{project.stargazers_count}}</span>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-6 txr">
                                <span class="createDate-span-effect"> <span class="glyphicon glyphicon-time"
                                                                            aria-hidden="true"></span> Create Date: {{project.created_at}}</span>
                            </div>
                        </div>
                    </div>
                </div><!--PROJECTS LIST END-->

            </div>

            <div class="alert alert-warning text-center" role="alert" *ng-if="filteredProjects.length ===0">
                <strong>No results found.!</strong>
            </div>

        </div>
        <div class="col-md-4">
            <div class="product-right-container">
                <div class="menu-right-container">
                    <ul class="group-menu">
                        <li class="group-menu-item">
                            <!--Featured Projects START-->
                            <span class="menu-section-title">Featured Projects</span>
                            <ul class="section-menu featured-projects">

                                <li class="section-menu-item" *ng-for="#featuredProject of featuredProjects">
                                    <a href="{{featuredProject.html_url}}">{{featuredProject.name}}</a>
                                </li>

                            </ul> <!--Featured Projects END-->
                        </li>
                        <hr>
                        <li class="group-menu-item">
                            <span class="menu-section-title">Programming language(s)</span>
                            <ul class="section-menu">
                                <li class="section-menu-item" *ng-for="#language of languages">
                                    <input class="fancy-checkbox" type="checkbox"/> {{language}}
                                </li>
                            </ul>
                        </li>
                        <hr>
                        <li class="group-menu-item">
                            <span class="menu-section-title">Activity in the last</span>
                            <ul class="section-menu">
                                <li class="group-menu-item">
                                    <ul class="section-menu">
                                        <li class="section-menu-item">
                                            <input class="fancy-checkbox" type="checkbox"/> Week
                                        </li>
                                        <li class="section-menu-item">
                                            <input class="fancy-checkbox" type="checkbox"/> Month
                                        </li>
                                        <li class="section-menu-item">
                                            <input class="fancy-checkbox" type="checkbox"/> Year
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <hr>
                        <li class="group-menu-item">
                            <span class="menu-section-title">Created in the last</span>
                            <ul class="section-menu">
                                <li class="section-menu-item">
                                    <input class="fancy-checkbox" type="checkbox"/> Week
                                </li>
                                <li class="section-menu-item">
                                    <input class="fancy-checkbox" type="checkbox"/> Month
                                </li>
                                <li class="section-menu-item">
                                    <input class="fancy-checkbox" type="checkbox"/> Year
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>